[Unit]
Description=Knot DNS server
After=network.target

[Service]
Environment=CONFFILE=/etc/knot/knot.conf
ExecStartPre=/usr/lib/knot/prepare-environment $CONFFILE
ExecReload=/usr/sbin/knotc reload
ExecStart=/usr/sbin/knotd -c $CONFFILE
Restart=on-abort

[Install]
WantedBy=multi-user.target
