[Unit]
Description=Knot DNS server
Wants=network-online.target
After=network-online.target

[Service]
Environment=CONFFILE=/etc/knot/knot.conf
ExecReload=/usr/sbin/knotc reload
ExecStart=/usr/sbin/knotd -c $CONFFILE
Restart=on-abort

[Install]
WantedBy=multi-user.target
